{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Create!</button>
    {{ form_end(form) }}

    <div id="app">
        <p>Текст не из Vue, а из Twig</p>
        <HelloWorld/>
    </div>

{% endblock %}
